# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [6]:
import pandas as pd
import numpy as np

# Seu código aqui
anomalia_termica= [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
anomalia_termica_serie=pd.Series(data=anomalia_termica)
anomalia_termica_serie

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [10]:
# seu código aqui
indice=[1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia_termica_serie=pd.Series(data=anomalia_termica,index=indice)
anomalia_termica_serie

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [12]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
dic_temperaturas_serie=pd.Series(dic_temperaturas)
dic_temperaturas_serie

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [13]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
arr_data=pd.DataFrame(arr)

             0           1           2
0   100.128573  106.176066  113.181813
1   100.961134   93.599687   90.865150
2    88.917945  105.352183  105.174194
3    99.400294  106.167182   96.994014
4   114.770193  102.489277   97.261045
5    86.022367   87.770299  103.421845
6    97.675136   91.941907   97.202428
7   119.539218   98.461903  100.012584
8   112.356423  100.090454  100.766314
9    92.329075  104.041429  114.555082
10   97.597721   92.596878   94.023250
11   94.072237   94.771450   97.209992
12   95.841629   99.283870   85.684464
13   80.050301   83.788573  104.879838
14  101.534543  102.233158  100.213679
15  101.046507   94.560645   86.550587
16  104.553141   95.508174  101.534388
17  106.257167  103.763177  100.135814
18  105.179624   91.884008   86.465337
19   98.051195  118.520948  116.244715

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [26]:
#seu código aqui
arr_data=pd.DataFrame(arr,
             columns=['x1','x2','x3',],index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])
arr_data

            x1          x2          x3
1   100.128573  106.176066  113.181813
2   100.961134   93.599687   90.865150
3    88.917945  105.352183  105.174194
4    99.400294  106.167182   96.994014
5   114.770193  102.489277   97.261045
6    86.022367   87.770299  103.421845
7    97.675136   91.941907   97.202428
8   119.539218   98.461903  100.012584
9   112.356423  100.090454  100.766314
10   92.329075  104.041429  114.555082
11   97.597721   92.596878   94.023250
12   94.072237   94.771450   97.209992
13   95.841629   99.283870   85.684464
14   80.050301   83.788573  104.879838
15  101.534543  102.233158  100.213679
16  101.046507   94.560645   86.550587
17  104.553141   95.508174  101.534388
18  106.257167  103.763177  100.135814
19  105.179624   91.884008   86.465337
20   98.051195  118.520948  116.244715

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [27]:
# seu código aqui
arr_data['media']=(arr_data['x1']+arr_data['x2']+arr_data['x3'])/3
arr_data

            x1          x2          x3       media
1   100.128573  106.176066  113.181813  106.495484
2   100.961134   93.599687   90.865150   95.141990
3    88.917945  105.352183  105.174194   99.814774
4    99.400294  106.167182   96.994014  100.853830
5   114.770193  102.489277   97.261045  104.840172
6    86.022367   87.770299  103.421845   92.404837
7    97.675136   91.941907   97.202428   95.606490
8   119.539218   98.461903  100.012584  106.004568
9   112.356423  100.090454  100.766314  104.404397
10   92.329075  104.041429  114.555082  103.641862
11   97.597721   92.596878   94.023250   94.739283
12   94.072237   94.771450   97.209992   95.351226
13   95.841629   99.283870   85.684464   93.603321
14   80.050301   83.788573  104.879838   89.572904
15  101.534543  102.233158  100.213679  101.327127
16  101.046507   94.560645   86.550587   94.052580
17  104.553141   95.508174  101.534388  100.531901
18  106.257167  103.763177  100.135814  103.385386
19  105.179624   91.884008   86.465337   94.509656
20   98.051195  118.520948  116.244715  110.938953

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [29]:
# seu código aqui
arr_data['log_med']=np.log(arr_data['media'])
arr_data

            x1          x2          x3       media   log_med
1   100.128573  106.176066  113.181813  106.495484  4.668103
2   100.961134   93.599687   90.865150   95.141990  4.555370
3    88.917945  105.352183  105.174194   99.814774  4.603316
4    99.400294  106.167182   96.994014  100.853830  4.613672
5   114.770193  102.489277   97.261045  104.840172  4.652437
6    86.022367   87.770299  103.421845   92.404837  4.526179
7    97.675136   91.941907   97.202428   95.606490  4.560241
8   119.539218   98.461903  100.012584  106.004568  4.663482
9   112.356423  100.090454  100.766314  104.404397  4.648272
10   92.329075  104.041429  114.555082  103.641862  4.640941
11   97.597721   92.596878   94.023250   94.739283  4.551129
12   94.072237   94.771450   97.209992   95.351226  4.557567
13   95.841629   99.283870   85.684464   93.603321  4.539066
14   80.050301   83.788573  104.879838   89.572904  4.495053
15  101.534543  102.233158  100.213679  101.327127  4.618354
16  101.046507   94.560645   86.550587   94.052580  4.543854
17  104.553141   95.508174  101.534388  100.531901  4.610475
18  106.257167  103.763177  100.135814  103.385386  4.638464
19  105.179624   91.884008   86.465337   94.509656  4.548702
20   98.051195  118.520948  116.244715  110.938953  4.708980