# EBAC - Regressão II - regressão múltipla

## Tarefa I

#### Previsão de renda

Vamos trabalhar com a base 'previsao_de_renda.csv', que é a base do seu próximo projeto. Vamos usar os recursos que vimos até aqui nesta base.

|variavel|descrição|
|-|-|
|data_ref                | Data de referência de coleta das variáveis |
|index                   | Código de identificação do cliente|
|sexo                    | Sexo do cliente|
|posse_de_veiculo        | Indica se o cliente possui veículo|
|posse_de_imovel         | Indica se o cliente possui imóvel|
|qtd_filhos              | Quantidade de filhos do cliente|
|tipo_renda              | Tipo de renda do cliente|
|educacao                | Grau de instrução do cliente|
|estado_civil            | Estado civil do cliente|
|tipo_residencia         | Tipo de residência do cliente (própria, alugada etc)|
|idade                   | Idade do cliente|
|tempo_emprego           | Tempo no emprego atual|
|qt_pessoas_residencia   | Quantidade de pessoas que moram na residência|
|renda                   | Renda em reais|

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('previsao_de_renda.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             15000 non-null  int64
 1   data_ref               15000 non-null  object
 2   id_cliente             15000 non-null  int64
 3   sexo                   15000 non-null  object
 4   posse_de_veiculo       15000 non-null  bool
 5   posse_de_imovel        15000 non-null  bool
 6   qtd_filhos             15000 non-null  int64
 7   tipo_renda             15000 non-null  object
 8   educacao               15000 non-null  object
 9   estado_civil           15000 non-null  object
 10  tipo_residencia        15000 non-null  object
 11  idade                  15000 non-null  int64
 12  tempo_emprego          12427 non-null  float64
 13  qt_pessoas_residencia  15000 non-null  float64
 14  renda                  15000 non-null  float64
dtypes: bool(2), float64(3), int64(4), object(6)
memory usage: 1.5+ MB

1. Ajuste um modelo para prever log(renda) considerando todas as covariáveis disponíveis.
    - Utilizando os recursos do Patsy, coloque as variáveis qualitativas como *dummies*.
    - Mantenha sempre a categoria mais frequente como casela de referência
    - Avalie os parâmetros e veja se parecem fazer sentido prático.  


2. Remova a variável menos significante e analise:
    - Observe os indicadores que vimos, e avalie se o modelo melhorou ou piorou na sua opinião.
    - Observe os parâmetros e veja se algum se alterou muito.  


3. Siga removendo as variáveis menos significantes, sempre que o *p-value* for menor que 5%. Compare o modelo final com o inicial. Observe os indicadores e conclua se o modelo parece melhor.

In [5]:
import numpy as np

import statsmodels.formula.api as smf
import patsy

In [6]:
for i in list(df.columns):
    display(df[i].value_counts().to_frame())

            count
Unnamed: 0
0               1
10004           1
9992            1
9993            1
9994            1
...           ...
5004            1
5005            1
5006            1
5007            1
14999           1

[15000 rows x 1 columns]

            count
data_ref
2015-01-01   1000
2015-02-01   1000
2015-03-01   1000
2015-04-01   1000
2015-05-01   1000
2015-06-01   1000
2015-07-01   1000
2015-08-01   1000
2015-09-01   1000
2015-10-01   1000
2015-11-01   1000
2015-12-01   1000
2016-01-01   1000
2016-02-01   1000
2016-03-01   1000

            count
id_cliente
9948            6
9351            6
8635            6
6356            6
5573            6
...           ...
348             1
12243           1
677             1
292             1
14651           1

[9845 rows x 1 columns]

      count
sexo
F     10119
M      4881

                  count
posse_de_veiculo
False              9140
True               5860

                 count
posse_de_imovel
True             10143
False             4857

            count
qtd_filhos
0           10376
1            3037
2            1376
3             185
4              17
7               5
14              2
5               2

                  count
tipo_renda
Assalariado        7633
Empresário         3508
Pensionista        2582
Servidor público   1268
Bolsista              9

                     count
educacao
Secundário            8895
Superior completo     5335
Superior incompleto    579
Primário               165
Pós graduação           26

              count
estado_civil
Casado        10534
Solteiro       1798
União          1078
Separado        879
Viúvo           711

                 count
tipo_residencia
Casa             13532
Com os pais        675
Governamental      452
Aluguel            194
Estúdio             83
Comunitário         64

       count
idade
40       538
37       469
43       458
32       455
33       441
39       440
38       438
27       436
60       435
46       431
30       429
41       420
28       410
34       407
44       403
31       403
42       402
47       398
36       384
29       377
50       374
54       373
35       372
45       371
51       354
48       346
52       339
58       339
53       333
57       328
59       308
49       305
56       295
55       257
61       253
62       241
63       238
64       201
26       177
65       143
25       133
66       127
24        99
67        66
23        26
22        15
68        13

               count
tempo_emprego
4.216438          38
6.934247          30
7.520548          29
15.449315         27
5.717808          26
...              ...
31.202740          1
5.279452           1
0.652055           1
2.827397           1
2.726027           1

[2589 rows x 1 columns]

                       count
qt_pessoas_residencia
2.0                     8181
1.0                     2752
3.0                     2551
4.0                     1311
5.0                      179
6.0                       18
9.0                        5
15.0                       2
7.0                        1

          count
renda
5402.44       6
1272.04       6
9826.31       6
43433.94      6
728.96        6
...         ...
8394.82       1
7827.08       1
5741.98       1
5699.89       1
1160.99       1

[9786 rows x 1 columns]

In [11]:
reg=smf.ols('''
            np.log(renda) ~ tempo_emprego + C(sexo, Treatment(0)) + C(posse_de_veiculo, Treatment(0))
            + C(posse_de_imovel, Treatment (0)) + C(qtd_filhos, Treatment(0)) + C(tipo_renda, Treatment(0))
             + C(educacao, Treatment(0)) + C(estado_civil, Treatment(0)) + C(tipo_residencia, Treatment(0))
             + idade + C(qt_pessoas_residencia, Treatment(2))
            ''',df).fit()
reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          np.log(renda)   R-squared:                       0.358
Model:                            OLS   Adj. R-squared:                  0.357
Method:                 Least Squares   F-statistic:                     203.5
Date:                Thu, 28 Mar 2024   Prob (F-statistic):               0.00
Time:                        21:18:36   Log-Likelihood:                -13559.
No. Observations:               12427   AIC:                         2.719e+04
Df Residuals:                   12392   BIC:                         2.745e+04
Df Model:                          34
Covariance Type:            nonrobust
=====================================================================================================================
                                                        coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------------
Intercept                                             7.1487      0.095     75.332      0.000       6.963       7.335
C(sexo, Treatment(0))[T.M]                            0.7878      0.015     53.664      0.000       0.759       0.817
C(posse_de_veiculo, Treatment(0))[T.True]             0.0436      0.014      3.079      0.002       0.016       0.071
C(posse_de_imovel, Treatment(0))[T.True]              0.0828      0.014      5.907      0.000       0.055       0.110
C(qtd_filhos, Treatment(0))[T.1]                     -0.2501      0.112     -2.239      0.025      -0.469      -0.031
C(qtd_filhos, Treatment(0))[T.2]                     -0.5697      0.223     -2.559      0.011      -1.006      -0.133
C(qtd_filhos, Treatment(0))[T.3]                     -0.5560      0.486     -1.144      0.253      -1.509       0.397
C(qtd_filhos, Treatment(0))[T.4]                      0.2091      0.429      0.488      0.626      -0.631       1.049
C(qtd_filhos, Treatment(0))[T.5]                      0.1385      0.410      0.338      0.736      -0.666       0.943
C(qtd_filhos, Treatment(0))[T.7]                      0.0221      0.162      0.137      0.891      -0.295       0.339
C(qtd_filhos, Treatment(0))[T.14]                    -0.4630      0.261     -1.772      0.076      -0.975       0.049
C(tipo_renda, Treatment(0))[T.Bolsista]               0.2259      0.241      0.937      0.349      -0.247       0.699
C(tipo_renda, Treatment(0))[T.Empresário]             0.1547      0.015     10.359      0.000       0.125       0.184
C(tipo_renda, Treatment(0))[T.Pensionista]           -0.2891      0.243     -1.190      0.234      -0.765       0.187
C(tipo_renda, Treatment(0))[T.Servidor público]       0.0551      0.022      2.476      0.013       0.011       0.099
C(educacao, Treatment(0))[T.Pós graduação]            0.1038      0.159      0.652      0.515      -0.208       0.416
C(educacao, Treatment(0))[T.Secundário]              -0.0130      0.072     -0.181      0.856      -0.154       0.128
C(educacao, Treatment(0))[T.Superior completo]        0.0938      0.072      1.298      0.194      -0.048       0.235
C(educacao, Treatment(0))[T.Superior incompleto]     -0.0420      0.078     -0.540      0.589      -0.195       0.110
C(estado_civil, Treatment(0))[T.Separado]             0.3176      0.112      2.831      0.005       0.098       0.537
C(estado_civil, Treatment(0))[T.Solteiro]             0.2556      0.110      2.319      0.020       0.040       0.472
C(estado_civil, Treatment(0))[T.União]               -0.0341      0.025     -1.352      0.176      -0.083       0.015
C(estado_civil, Treatment(0))[T.Viúvo]                0.3535      0.117      3.017      0.003       0.124       0.583
C(tipo_residencia, Treatment(0))[T.Casa]             -0.0424      0.054     -0.784      0.433      -0.149       0.064
C(tipo_residencia, Treatment(0))[T.Com os pais]      -0.0233      0.060     -0.387      0.699      -0.142       0.095
C(tipo_residencia, Treatment(0))[T.Comunitário]      -0.1177      0.106     -1.110      0.267      -0.326       0.090
C(tipo_residencia, Treatment(0))[T.Estúdio]           0.0651      0.099      0.655      0.512      -0.130       0.260
C(tipo_residencia, Treatment(0))[T.Governamental]    -0.0546      0.066     -0.827      0.408      -0.184       0.075
C(qt_pessoas_residencia, Treatment(2))[T.1.0]        -0.2710      0.110     -2.459      0.014      -0.487      -0.055
C(qt_pessoas_residencia, Treatment(2))[T.3.0]         0.2991      0.112      2.667      0.008       0.079       0.519
C(qt_pessoas_residencia, Treatment(2))[T.4.0]         0.6546      0.223      2.929      0.003       0.217       1.093
C(qt_pessoas_residencia, Treatment(2))[T.5.0]         0.5139      0.489      1.050      0.294      -0.445       1.473
C(qt_pessoas_residencia, Treatment(2))[T.6.0]         0.1607      0.410      0.392      0.695      -0.643       0.965
C(qt_pessoas_residencia, Treatment(2))[T.7.0]         0.1868      0.658      0.284      0.776      -1.103       1.477
C(qt_pessoas_residencia, Treatment(2))[T.9.0]         0.0221      0.162      0.137      0.891      -0.295       0.339
C(qt_pessoas_residencia, Treatment(2))[T.15.0]       -0.4630      0.261     -1.772      0.076      -0.975       0.049
tempo_emprego                                         0.0616      0.001     59.241      0.000       0.060       0.064
idade                                                 0.0056      0.001      6.916      0.000       0.004       0.007
==============================================================================
Omnibus:                        1.227   Durbin-Watson:                   2.024
Prob(Omnibus):                  0.542   Jarque-Bera (JB):                1.200
Skew:                           0.022   Prob(JB):                        0.549
Kurtosis:                       3.018   Cond. No.                     1.03e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.13e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [20]:
reg=smf.ols('''
            np.log(renda) ~ tempo_emprego + C(sexo, Treatment(0)) + C(posse_de_veiculo, Treatment(0))
            + C(posse_de_imovel, Treatment (0)) + C(tipo_renda, Treatment(0))
            + C(estado_civil, Treatment(0)) + idade + C(qt_pessoas_residencia, Treatment(2))
            ''',df).fit()
reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          np.log(renda)   R-squared:                       0.354
Model:                            OLS   Adj. R-squared:                  0.353
Method:                 Least Squares   F-statistic:                     324.3
Date:                Thu, 28 Mar 2024   Prob (F-statistic):               0.00
Time:                        21:49:05   Log-Likelihood:                -13597.
No. Observations:               12427   AIC:                         2.724e+04
Df Residuals:                   12405   BIC:                         2.740e+04
Df Model:                          21
Covariance Type:            nonrobust
===================================================================================================================
                                                      coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------------------
Intercept                                           7.1409      0.037    195.351      0.000       7.069       7.213
C(sexo, Treatment(0))[T.M]                          0.7820      0.015     53.405      0.000       0.753       0.811
C(posse_de_veiculo, Treatment(0))[T.True]           0.0525      0.014      3.720      0.000       0.025       0.080
C(posse_de_imovel, Treatment(0))[T.True]            0.0848      0.014      6.164      0.000       0.058       0.112
C(tipo_renda, Treatment(0))[T.Bolsista]             0.3037      0.242      1.257      0.209      -0.170       0.777
C(tipo_renda, Treatment(0))[T.Empresário]           0.1649      0.015     11.083      0.000       0.136       0.194
C(tipo_renda, Treatment(0))[T.Pensionista]         -0.2594      0.242     -1.073      0.283      -0.733       0.214
C(tipo_renda, Treatment(0))[T.Servidor público]     0.0742      0.022      3.351      0.001       0.031       0.118
C(estado_civil, Treatment(0))[T.Separado]           0.0794      0.035      2.253      0.024       0.010       0.149
C(estado_civil, Treatment(0))[T.Solteiro]           0.0197      0.034      0.578      0.563      -0.047       0.087
C(estado_civil, Treatment(0))[T.União]             -0.0358      0.025     -1.418      0.156      -0.085       0.014
C(estado_civil, Treatment(0))[T.Viúvo]              0.1113      0.050      2.211      0.027       0.013       0.210
C(qt_pessoas_residencia, Treatment(2))[T.1.0]      -0.0322      0.034     -0.956      0.339      -0.098       0.034
C(qt_pessoas_residencia, Treatment(2))[T.3.0]       0.0490      0.018      2.740      0.006       0.014       0.084
C(qt_pessoas_residencia, Treatment(2))[T.4.0]       0.0934      0.023      4.085      0.000       0.049       0.138
C(qt_pessoas_residencia, Treatment(2))[T.5.0]      -0.0495      0.055     -0.897      0.370      -0.158       0.059
C(qt_pessoas_residencia, Treatment(2))[T.6.0]       0.3443      0.171      2.015      0.044       0.009       0.679
C(qt_pessoas_residencia, Treatment(2))[T.7.0]       0.2096      0.724      0.290      0.772      -1.209       1.628
C(qt_pessoas_residencia, Treatment(2))[T.9.0]       0.0115      0.324      0.036      0.972      -0.623       0.646
C(qt_pessoas_residencia, Treatment(2))[T.15.0]     -0.7213      0.513     -1.406      0.160      -1.727       0.284
tempo_emprego                                       0.0616      0.001     59.239      0.000       0.060       0.064
idade                                               0.0052      0.001      6.547      0.000       0.004       0.007
==============================================================================
Omnibus:                        1.476   Durbin-Watson:                   2.025
Prob(Omnibus):                  0.478   Jarque-Bera (JB):                1.443
Skew:                           0.022   Prob(JB):                        0.486
Kurtosis:                       3.028   Cond. No.                     4.74e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.74e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

De acordo com os indicadores o modelo não parece melhor, observa-se um queda na $R^2$ ajustado de 0,357 para 0,353 e também nota-se um aumento no AIC de 2,719e+04 para 2,724e+04